.ant-form-item{
  margin-bottom: 0px !important;
  padding: 10px !important;
  padding-left: 0px !important;
  padding-right: 15px !important;
}
.ant-input-number{
  width:100% !important;
}

.form-item{
  width: 50%;
}