.boxs {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.widgets {
  overflow-y: auto;
  overflow-y: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.widgets::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
